.nav {
  box-shadow: 0px 0px 10px 5px #000;
}
.links ul li {
  position: relative;
  margin: auto;
}
.links ul li::after {
  content: " ";
  position: absolute;
  border-bottom: 2px solid #fff;
  /* height: 2px; */
  /* background: #ff0f0f; */
  width: 0%;
  left: 0;
  bottom: -3px;
  transition: 0.3s ease-in-out;
  margin: auto;
}
.links ul li:hover:after {
  margin: auto;
  width: 100%;
}

/* .links ul li {
  border-bottom: 2px solid #ffffff;
} */
