@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .ulli {
    @apply text-2xl;
  }

}


body {
  background-color: #ffffff;
}

ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
