@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "poppins";
  font-weight: 100;
}

@layer base {
  .ulli {
    @apply text-2xl;
  }
}

body {
  background-color: #ffffff;
}

ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
